.main-header
	.navbar-nav
		.active
			background-color:#43a047 !important
		
#breadvar
	padding 8px
	background-color #43a047
	border-radius 4px;
	
.breadcrumb
	.breadcrumb-item
		a
			color #e0e0e0 !important
			text-decoration none
	li + li
		&:before
			color #e0e0e0 !important